#print()

The print() function prints the specified message to the screen.

In [ ]:
print("Hello world")

Hello world

In [ ]:
a = 9
b = 3
print("square of" ,b,"is",a)
print(f"square of {b} is {a}") #These are called fstrings

#Lines of code that are green(followed by #) are ignored by the interpreter.
#These are called comments and they are used to improve the readablity of code

square of 3 is 9
square of 3 is 9

#Data types

In [ ]:
x = 10
name = "Student"
is_it_raining = True
decimal = 1.82

print(x)
print(name)
print(is_it_raining)
print(decimal)

print(type(x))
print(type(name))
print(type(is_it_raining))
print(type(decimal))

10
Student
True
1.82
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

As you can see Python automatically detects data type of the variable unlike the other programming languages.

##Type casting

In [ ]:
x = int(1)        # x will be 1
y = int(5.6)      # y will be 5          NOTE: The number is NOT rounded off but the decimal part is stripped away
z = int("200056") # z will be 200056

print(type(z))

<class 'int'>

##Operators
Operators perfom processes on variables and constants. The different kinds of operators can be understood through examples.

###Arithmetic Operators


1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Modulus(%)
6. Exponent(**)

In [ ]:
a = 5
b = 6

# operations in order

print('a + b = ', a + b)
print('b - 2 = ', b - 2)
print('a*4 =', a * 4)
print('b/3 = ', b/3)
print('a % b = ', a%b) #5/6 q=0 rem=5
print('a^2 = ', a**2 )

a + b =  11
b - 2 =  4
a*4 = 20
b/3 =  2.0
a % b =  5
a^2 =  25

###Comparison Operators


1.    Check equality (== )
2.    Check inequality(!= or <>)
3.    Greater than (>)
4.    Less than(<)
5.    Greater than or equal to (>=)
6.    Less than or equal to (<=)

When used in expressions,  the truth value of the expression returned.

In [ ]:
a = 5
b = 6

#operations in order

print(a==b)
print(b!=2)
print(a>4)
print(b<3)
print(a>=b)
print(a<=2)
print(type(a==b))

False
True
True
False
False
False
<class 'bool'>

###Logical Operators



1.  and
2.  or
3.  not

When used in expressions, the truth value of the expression returned.

In [ ]:
a = 5
b = 6
print(a<b or a==b) # t or f
print(a<b and (a+b)==11) # t and t
print(not a<b) # not t

True
True
False

In [ ]:
a = None
b = a or 4
print(b)
print(type(a))

4
<class 'NoneType'>

What's the value of b?

##Conditional Statements

Conditional Statements are used in decision making.

In [ ]:
Is_it_raining = False
if(Is_it_raining):                                            #if(condition):
  print("Oh no , I cant play football now")                      #statement
else:                                                         #elif(condition):
  print("Lessgooo play football")                                #statement
                                                              #else:
                                                                 #statement

Lessgooo play football

In [ ]:
Summer = False
Winter = True
Rainy = False

if(Summer):
  print("Lets eat ice cream!")
elif(Winter):
  print("Lets play with snow!")
elif(Rainy):
  print("Lets drink Chai!")
else:
  print("Lets just go and study:/")

Lets play with snow!

##Loops

Let's look at two programs with the same output:

In [ ]:
print('welcome to summer school')
print('welcome to summer school')
print('welcome to summer school')
print('welcome to summer school')
print('welcome to summer school')
print('welcome to summer school')
print('welcome to summer school')

welcome to summer school
welcome to summer school
welcome to summer school
welcome to summer school
welcome to summer school
welcome to summer school
welcome to summer school

In [ ]:
t = 0
while( t < 10):                          #while(condition):
                                           #statement
    print("welcome to summer school" ,end = "$")
    t = t + 1       #incrementing t

welcome to summer school$welcome to summer school$welcome to summer school$welcome to summer school$welcome to summer school$welcome to summer school$welcome to summer school$welcome to summer school$welcome to summer school$welcome to summer school$

###FOR Loops
The for loop has the following form

In [ ]:
for i in range(5,0,-1): #(initial value , final value(excluded),increment)
	print(i)

5
4
3
2
1

##FOR loops with an ELSE block???
Yup, they exist

In [ ]:
for i in ['T','P']:
   print(i)
else:
   # Loop else statement
   # there is no break statement in for loop, hence else part gets executed directly
   print("ForLoop-else statement successfully executed")

T
P
ForLoop-else statement successfully executed

In [ ]:
for i in ['T','P']:
   print(i)
   break
else:
   # Loop else statement
   # terminated after 1st iteration due to break statement in for loop
   print("Loop-else statement successfully executed")

T

##Nested Loops
 Loops within loops

In [ ]:
x = 4
for i in range(1, x + 1):    #(1,5)   i=4
  for j in range(1, i + 1):  #1,5
    print(j, end = '')
  print('')

1
12
123
1234

## Functions

* Functions are modules of code that accomplish a specific task.
* A function executes only when it is called.
* Functions usually take inputs (data), process it, and output (or return) result. Once a function is written, it can be used over and over again.

In [ ]:
# example function
def add_nums(a, b):
  return a+b

add_nums(2,3)
print(add_nums(2,3)) #function call inside the print statement and even print is a function call

5

Here a and b are the parameters and the inputs that we provided (i.e 2,3) while calling the function are the arguments.

This is block of code is same as the one below

In [ ]:
a = 2
b = 3
print(a + b)

5

Why do we need functions in the first place?
Let's say you want to check if a number is even or odd

In [ ]:
def odd_even(num):
  if num % 2 == 0:
    return 'Even'
  else:
    return 'Odd'

In [ ]:
print(odd_even(4))
print(odd_even(6))
print(odd_even(5))

Even
Even
Odd

without functions:

In [ ]:
num = 4
if num % 2 == 0:
    print('Even')
else:
    print('Odd')

num = 6
if num % 2 == 0:
    print('Even')
else:
    print('Odd')

num = 5
if num % 2 == 0:
    print('Even')
else:
    print('Odd')

Even
Even
Odd

## Classes

A class is a blueprint for an object.

It is a way to bundle data (even of different data types) together.
Each variable or piece of data is known as an attribute of the class.

In addition, a class can have functions associated with it called methods.

An object is an instance of a class. This is similar to how the variable "num" was an integer in the previous example.

In [ ]:
# example class

class Pen:
  # class variable: shared by all instances of a class
  Type = "ball point"
  color = "blue"
  price = "100"

  # member function/ method
  def writing(self):
    print('write')


c1 = Pen()        # creating an instance of pen
c1.writing()

write

### self
* class methods must include an extra first parameter in the method definition

* we don't give assign values for this parameter when we call the method, instead Python provides it

* if we have a method that takes no arguments, then we still have to have one argument.

* self is similar to this pointer in C++ and this reference in Java

### \_init_()

* The \__init__ method is similar to constructors in C++ and Java

* constructors are used to initialize the objectâ€™s state

* like other methods, a constructor also contains a collection of statements that are executed at the time of object creation

In [ ]:
class Vehicle:

    # class variable: shared by all instances of a class
    vehicle_type = 'car'

    # init method or constructor
    def __init__(self, company1, color1):

        # instance variables

        self.company = company1
        self.color = color1

    # method to display details
    def printing(self):
        print('Vehicle type: ', self.vehicle_type)
        print('company: ', self.company)
        print('color: ', self.color)



C1 = Vehicle("Ferrari", "red")
C2 = Vehicle("Mercedes", "gold")

# displays details of C1
print('C1 details: ', end = '')
C1.printing()

# accessing using class names
print("\naccessing class variable using class name")
print(C1.color)
print(C2.company)

C1 details: Vehicle type:  car
company:  Ferrari
color:  red

accessing class variable using class name
red
Mercedes

##Inheritance

Inheritance is the capability of one class to derive or inherit the properties from another class.

In [ ]:
class company:
  def __init__(self):
    self.ceo = "mr X"
    self.company_name = "ABC"

  def show(self):
    print(f"Company : {self.company_name}")
    print(f"CEO : {self.ceo}")

class Salesemployee(company):
   def __init__(self,name):
     company.__init__(self)
     self.name = name
     self.salary = "20000"

   def printsalary(self):
     print(f"Salary:{self.salary}")

class Serviceemployee(company):
   def __init__(self,name,branch_name):
     company.__init__(self)
     self.branch_name  = branch_name

   def branch(self):

     print(f"Branch:{self.branch_name}")

emp1 = Salesemployee("mr A")
emp1.show()
emp1.printsalary()

print("\n")

emp2 = Serviceemployee("mr B","Delhi")
emp2.show()
emp2.branch()

Company : ABC
CEO : mr X
Salary:20000


Company : ABC
CEO : mr X
Branch:Delhi